<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfPythonCoding/blob/main/10053FilteringEditingDataframeImplementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
#filtering and Editing data 
import pandas as pd
sales = { 'C' :[1, 2, 3, 4],
         'account':["Jones", "Burns", "Keys", "David"],
          'D' :["Yes", "No", "Yes", "Yes"],
          'F' :["US","UK","US","AUS"],
          'G' :[1, 3, 4, 6],
          }
df = pd.DataFrame(sales)
df1 = df[df["D"] == "Yes"]
df1
df2 = df1[df1["F"] == [s3]]
df2 = df2["C","G"]

df3 = df1[df1["F"] == [s4]]
df3 = df3["C","G"]

   C account    D    F  G
0  1   Jones  Yes   US  1
2  3    Keys  Yes   US  4
3  4   David  Yes  AUS  6

I am writing into file for fun