<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfPythonCoding/blob/main/10060ConvertListToDictAndListDataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
l = [[1,"adf", 1, "drw", 1, "dfsf"], [2,"dfa",2,"fds", 2,"dfada"]]
p = []
for i in l:
  m = list(dict.fromkeys(i))
  p.append(m)

Python â€“ Convert list to Single Dictionary Key Value list

In [18]:
k=0
res = []
for j in p:
  res.append({j[k]: j[:k] + j[k+1:]})
res

[{1: ['adf', 'drw', 'dfsf']}, {2: ['dfa', 'fds', 'dfada']}]

Convert a list to dataframe

In [20]:
import pandas as pd 
df = pd.DataFrame(res)
df.transpose()

                  0                  1
1  [adf, drw, dfsf]                NaN
2               NaN  [dfa, fds, dfada]